@font-face {
  font-family: 'm6x11';
  src: url('/fonts/m6x11/m6x11.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'm6x11';
  src: url('/fonts/m6x11/m6x11-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
